*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    margin: auto;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgba(209, 236, 227, .3);
}
.logo{
    margin-left: 200px;
    margin-top: 40px;
    margin-right: 30px;
    transform: translateY(-50%);
    white-space: nowrap;
}
#check{
    display: none;
}
a{
    text-decoration: none;
}
.control_menu{
    margin-right: 200px;
    list-style: none;   
}
label #btn,label #close{
    color: aliceblue;
    font-size: 2 0px;
    cursor: pointer;
    display: none;
    padding: 15px;
    border-radius: 50%;
    background-color: #0e3328;
    opacity: .3;
    display: none;
}

.menu li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
}
.menu li a{
    font-weight: lighter;
    font-size: 20px;
    font-weight: bold;
    color: #2f9b7a;
    padding: 0 20px;
    letter-spacing: 2px;
}

.menu a:hover{
    color: #62d8b4;
    font-size: 24px;
    transition: .2s;
}

@media (max-width: 1320px){
    label #btn{
        display: block;
    }
    label #btn:hover,label #close:hover{
        opacity: 1;
        background-color: #2ed8a5;
    }
    .form_menu{
        position: fixed;
        width: 50%;
        height: 100vh;
        right: -50%;
        top: 80px;
        background-image:linear-gradient(180deg, rgb(159, 209, 209, .2),rgb(159, 209, 209, .6));
        text-align: center;
        transition: 0.5s;
        z-index: 99;
    }
    .menu{
        margin-top: 170px;
    }
    .menu li{
        display: block;
        line-height: 20px;
        margin: 60px 0;
    }
    #check:checked ~ .form_menu {
        right: 0;
    }
    #check:checked + label #btn{
        display: none;
    }
    #check:checked + label #close{
        display: block;
    }   
}
main{
    max-width: 1600px;
    margin: auto;
}
.content{
    border-top: 5px solid black;
    text-align: center;
    margin-top: 70px;
}
.text_top{
    display: inline-block;
    transform: translateY(-50px);
    background-color: white ;
    padding: 0px 20px;
    font-size: 40px;
    z-index: 2;
}
.products{
    overflow: auto;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Hiển thị 4 cột với độ rộng bằng nhau */
    grid-gap: 10px;
}
.product{
    overflow: hidden;
    min-width: 200px;
    border: 2px solid rgb(216, 211, 211);
    margin: 20px 25px;
}
.info label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.price{
    color: #999999;
    font-size: 25px;
    text-align: end;
}
.info{
    margin: 0 10px;
}
.product:hover{
    transform: translateY(-2px);
    border: none;
    box-shadow: 0px 2px 3px 0 black;
    transition: box-shadow .5s;
}

footer{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 250px;
    padding-top: 50px;
    border-top: 2px solid #cce9e0;
    border-bottom: 2px solid #cce9e0;
    box-sizing: border-box; 
}
footer .mxh_footer li{
    display: inline-block;
    margin:5px 40px 2px 0;
    list-style: none;
    font-size: 18px;
}
footer a{
    color: black;
    line-height: 25px;
}
footer ul{
    list-style: none;
}
footer a:hover{
    color: #58b99e;
    letter-spacing: 2px;
    font-size: 20px;
    transition: font-size 1s;
}
.lienlac form{
    margin: 30px 0 20px 0;
    display: inline-block;
    line-height: 25px;
}
.lienlac input{
    width: 300px;
    height: 50px;
    text-indent: 30px;
    outline: none;
    box-sizing: border-box;
    color: #6d8b85;
}
.lienlac button{
    width: 145px;
    height: 50px;
    border: none;
    background-color: #90f3d7;
    font-weight: bold;
}
.lienlac button:hover{
    background-color: #3db996;
    border: 3px solid #50c4a1;
    box-sizing: border-box;
    transition: background 1.5s;
    color: #faf9f9;
}
.loc{
    display: flex;
    list-style-type: none;
}
.loc li a{
    padding: 0 30px;
    font-size: 20px;
    text-decoration: underline;
    color: #0e3328;
}
.type_pro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
    background-image: linear-gradient(90deg, #ffffff, #a2d4c5, #ffffff);
}
.type_pro input{
    height: 35px;
    width: 300px;
    text-indent: 30px;
    font-size: 15px;
    outline: unset;
    box-sizing: border-box;
}
.type_pro button{
    height: 35px;
    width: 35px;
    box-sizing: border-box;
  
}

.main_product{
    margin-top: 20px;
    box-shadow: 0px -5px 10px 1px rgb(167, 166, 166, .2);
    padding: 20px;
    display: flex;
}

.main_left{
    width: 35%;
    display: inline-block;
}
div[class^="slider_"]{
    display: block;
    
}
.slider-nav{
    margin-top: 10px;
}
.hover{
    margin: 0 5px;
    box-sizing: border-box;
    height: 100%;
}
.luachon button:focus{
    border: 2px solid saddlebrown;
}

.main_right{
    width: 60%;
    margin-left: 60px;
}
.main_right h4{
    font-size: 35px;
    font-weight: lighter;
}
.main_info{
    padding: 30px;
    font-size: 25px;
}
.gia{
    display: flex;
    font-weight: bold;
    color: rgb(206, 69, 69);
    align-items: center;
    margin-bottom: 50px;
}
.gia .phantram{
    font-size: 15px;
    background-color: rgb(206, 69, 69);
    color: white;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
}
.thuoctinh{
    text-transform: uppercase;
    font-weight: lighter;
    width: 150px;
}
.luachon{
    display: flex;
    margin: 80px 0;
    line-height: 55px;
}
.luachon button{
    width: calc((100%)/5);
    min-width: 110px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    border: none;
    margin: 10px;
    box-sizing: border-box;
}
.soluong input{
    font-size: 20px;
    text-align: center;
    width: 100px;
    border: 1px solid rgb(221, 209, 209);
    border-radius: 10px;
}
.xacnhan{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.xacnhan button{
    width: 300px;
    margin: 0px 30px;
    line-height: 60px;
    font-size: 20px;
    color: white;
    
}
.themgio button{
    background-color: rgb(228, 155, 155);
    border: 2px solid rgb(139, 14, 14);
    box-sizing: border-box;
}
.muangay button{
    background-color: rgb(199, 33, 33);
    box-sizing: border-box;
    border: none;
}

.xacnhan button:hover, .xacnhan button:focus{
    border: 2px solid white;
    outline: 3px solid red;
}